# Ignore Python cache
__pycache__/
*.pyc

# Ignore Jupyter notebook checkpoints
.ipynb_checkpoints/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore large datasets except the ones we want
*.csv
!final_scraped_data.csv
!grouped_products.csv
